<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor-app">
  <template>
    <style>
      :host {
        display: block;
      }
      .img{
        width: 100px;
        height: 100px;
      }
    </style>

    <h2>Hello [[prop1]]!</h2>
    <h3>Mi valor es: [[prop2]]</h3>

    <div class="container">
      <div class="row" id="divImg">
        <img class="img col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/svg/265/265667.svg" alt="flaticon">
      </div>
      <div class="row" id="divButton">
        <button name="button" class="btn btn-danger col-lg-4 col-xs-12" on-click="incrementar">Cargar Datos</button>
      </div>
      <div class="row" id="divInput">
        <input type="text" name="" value="{{prop1::input}}" placeholder="[[prop3]]">
      </div>
      <div class="row" id="divTabla">
        <table class="table table-striped col-lg-4 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thea>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>[[prop1]]</td>
              <td>Fuentes</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Selena</td>
              <td>Mora</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisorApp extends Polymer.Element {
      static get is() { return 'mi-visor-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: ''
          },
          prop2: {
            type:Number,
            value:999
          },
          prop3: {
            type: String,
            value: 'Indique su login'
          }
        };
      }
      incrementar() {
        this.prop2 = this.prop2 + 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisorApp.is, MiVisorApp);
  </script>
</dom-module>
